# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Outputs do Simulador
outputs/gantt/*
outputs/logs/*
outputs/metrics/*
outputs/tables/*

!outputs/gantt/.gitkeep
!outputs/logs/.gitkeep
!outputs/metrics/.gitkeep
!outputs/tables/.gitkeep
# IDEs
.vscode/
.idea/